@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply box-border
  }

  *, *:before, *:after {
    box-sizing: inherit;
  }

  a {
    @apply
      no-underline
      outline-none
      inline-block
      pb-0.5
      text-tertiary-light
      border-b-2
      border-tertiary-light
      border-solid
      cursor-pointer
      hover:text-tertiary-dark
      hover:border-tertiary-dark
      focus-visible:ring
      focus-visible:ring-offset-2
      focus-visible:ring-secondary-dark
      transition
    ;
  }

  h1 {
    @apply text-2xl font-heading;
  }

  h2 {
    @apply text-xl font-heading;
  }

  h3 {
    @apply text-lg font-heading;
  }

  h4 {
    @apply text-base font-heading;
  }

  h5 {
    @apply text-sm font-heading;
  }

  h6 {
    @apply text-xs font-heading;
  }
}

@layer components {
  .reset-link-styles {
    @apply
    pb-0
    border-b-0
    transition-none
    text-black
    hover:text-black
    focus-visible:ring-0
    ;
  }
}
